<div class="row">
    <div class="input-field">
        <input id="username" type="text" class="validate" (keyup)="onUserIdKeyPressed($event)">
        <label for="username">ID (username, email or phone number)</label>
    </div>
    <div class="input-field">
        <input id="password" type="password" class="validate" [(ngModel)]="credentials.password">
        <label for="password">Password</label>
    </div>
    <div class="input-field" *ngIf="mode === 'sign up'">
        <input id="password2" type="password" class="validate" [(ngModel)]="credentials.password2">
        <label for="password2">Password confirmation</label>
    </div>
</div>

<div id="auth_errors" class="modal">
    <div class="modal-content">
        <h4>There are some errors</h4>
        <p *ngFor="let error of errors">{{ error }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-flat modal-close waves-effect waves-green">OK, let's fix them!</button>
    </div>
</div>

<button class="btn btn-info" (click)="submit()">{{ mode | uppercase}}</button>

