.like-link {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.auth-errors {
	margin-bottom: 3rem;
	border: 2px dashed red;
	padding: .5rem;
	background-color: lightgreen;
}

mat-divider {
	margin-top: .5rem;
	margin-bottom: .5rem;
}
