<form #form="ngForm" (ngSubmit)="submit($event)">

    <div class="auth-errors" *ngIf="isAuthErrors()">
        <p *ngFor="let error of authErrors">{{ error }}</p>
        <!-- <button mat-raised-button (click)="authErrors = []" color="warn">OK</button> -->
    </div>

    <div *ngIf="isLoginMode()">
        Don't have an account? <span class="like-link" (click)="toggleMode()">Register</span> now!
    </div>

    <div *ngIf="isSignupMode()">
        Already have an account? <span class="like-link" (click)="toggleMode()">Log-in</span> now!
    </div>

    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label>User ID</mat-label>
        <input matInput placeholder="login, email or mobile" name="username" [(ngModel)]="credentials.someId" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Any non-empty string" name="password" [(ngModel)]="credentials.password" required>
    </mat-form-field>

    <mat-form-field *ngIf="isSignupMode()">
        <mat-label>Password confirmation</mat-label>
        <input matInput type="password" placeholder="Same password once again" name="password2" [(ngModel)]="credentials.password2" required>
    </mat-form-field>

    <button type="submit" mat-raised-button color="warn" [disabled]="form.invalid">{{ mode | uppercase }}</button>
</form>