<div *ngIf="wss.ready">
    <div class="row">
        <div class="col s12">
            <h2>{{ title }}</h2>
        </div>
        <div class="col s11">
            Any message you enter in the field below will be sent to the
            server via WebSocket connection and then received back and added
            in messages area below the input.
        </div>
    </div>

    <div class="row">
        <div class="col s10 input-field">
            <input type="text" id="ws_message" [(ngModel)]="message">
            <label for="ws_message">Enter message here</label>
        </div>
        <div class="col s2 input-field">
            <button class="btn" [disabled]="!messageReady" (click)="sendMessageToServer()">Send</button>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h4>Received messages:</h4>
            <ul>
                <li *ngFor="let m of messages">{{ m }}</li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="!wss.ready && !isLoading">
    <div class="row">
        <div class="col s12">
            <h4>Some error occurred!</h4>
            <p>
                There is no active WebSocket connection to server. 
            </p>
            <p>
                Please, try again later!
            </p>
        </div>
    </div>
</div>