<div class="row">
    <div class="col s12">
        <p>Welcome to NestJS + Angular demostration.</p>
        <p *ngIf="authService.authToken">
            You are authorized user. Go and check out <a routerLink="ws">WebSockets test</a>.
        </p>
        <p *ngIf="!authService.authToken">
            Your are not authorized user. Please, proceed quick 
            <a [routerLink]="['auth', 'sign-up']">registration</a> to
            unlock all test functionality.
        </p>
    </div>
</div>